*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    background: #282D35;
}

h1, h2, h3, ul, p {
    margin-top: 0;
}

h1 {
    margin-right: auto;
    color: #61DAFB;
    font-size: 22px;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

.container {
    width: min(90%, 900px);
    margin: 0 auto;
    padding: 30px 25px;
}

header {
    background: #21222A;
    /* height: 90px; */
    
}

nav {
    display: flex;
    align-items: center;
}

nav h1, nav p {
    margin-bottom: 0;
}

nav img {
    height: 50px;
    margin-right: 8px;
}

nav p {
    font-size: 20px;
    font-weight: 600;
    color: #DEEBF8;
}

main {
    background-image: url('./images/react-icon-large.png');
    background-repeat: no-repeat;
    background-position: right 75%;
}

main ul {
    color: #DEEBF8;
    padding-left: 30px;
    max-width: 400px;
}

main li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
